:root {
  --branding-color: #6c63ff;
  --heading-font-family: "Playfair Display", serif;
  --default-family: "poppins", sans-serif;
  --secondary-color: #f9f7fe;
}

body {
  font-family: var(--default-family);
}

h1 {
  color: black;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 96px;
  line-height: 2;
}

h2 {
  font-size: 50px;
  font-family: var(--heading-font-family);
  font-weight: bold;
}
p {
  font-family: var(--heading-font-family);
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  opacity: 70%;
}

.HighlightedBackground {
  background: var(--secondary-color);
  text-align: center;
}

.HighlightedBackground p {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

.HighlightedBackground h1 {
  font-size: 50px;
  font-family: var(--heading-font-family);
  line-height: 18px;
  font-weight: 500;
  padding: 30px;
}

.HighlightedBackground h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn {
  color: var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  border: 1px solid var(--branding-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 40px;
    line-height: 56px;
  }

  h2 {
    font-size: 40px;
  }

  h4 {
    font-size: 40px;
  }

  .email-address h3 {
    color: black;
    font-family: "Playfair Display", serif;
  }
}

.HighlightedBackground {
  padding: 80px 20px;
}

.project-desciption {
  padding: 0;
  text-align: center;
}

.aroundWeatherProject {
  padding: 20px;
}

.content h1 {
  font-size: 60px;
  line-height: 80px;
}

.content-container h2 {
  font-family: var(--default-family);
  font-size: 20px;
}

.content-container {
  padding: 50px 20px;
}

.content-container {
  text-align: center;
  padding: 0;
}

.content {
  margin: 30px;
}
.image-Amsterdam {
  border-radius: 30px;
  max-width: 300px;
}
.content h3 {
  font-size: 24px;
  font-family: var(--default-family);
  line-height: 1, 5;
  margin: 20px 0 0;
}

.content p {
  font-size: 14px;
  margin: 0;
}
.logo {
  max-height: 80px;
}

.nav {
  padding: 40px 0;
}

footer .contact-box {
  background-color: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  text-align: center;
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background-color: var(--secondary-color);
  padding: 10px 14px;
  font-size: 25px;
  border-radius: 50%;
  transition: all 150ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background-color: var(--branding-color);
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer {
  margin: 60px 0;
}

.content-container i {
  font-size: 30px;
}

.content-container p {
  font-size: 18px;
}

.email {
  font-size: 20px;
  color: black;
}
