:root {
  --branding-color: #6c63ff;
  --heading-font-family: "Playfair Display", serif;
  --default-family: "poppins", sans-serif;
  --highlighted-color: #f9f7fe;
}

body {
  font-family: var(--default-family);
}

h1 {
  color: black;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 96px;
  line-height: 2;
}

h2 {
  font-size: 50px;
  font-family: var(--heading-font-family);
  font-weight: bold;
}
p {
  font-family: var(--heading-font-family);
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  opacity: 70%;
}

.HighlightedBackground {
  background: var(--secondary-color);
  text-align: center;
  padding: 50px 20px;
}

.HighlightedBackground p {
  font-size: 36px;
  font-family: var(--heading-font-family);
  font-weight: bold;
  color: #272142;
  margin: 0 10;
}

.HighlightedBackground h1 {
  font-size: 50px;
  font-family: var(--heading-font-family);
  line-height: 18px;
  font-weight: 500;
  padding: 30px;
}

.HighlightedBackground h2 {
  font-size: 15px;
  font-family: var(--heading-font-family);
  line-height: 1.5px;
  color: #272142;
  padding: 30px;
}

.FirstButton {
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  background-color: var(--branding-color);
  order: 1px solid;
  color: white;
}

.SecondButton {
  color: var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  border: 1px solid var(--branding-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }

  h2 {
    font-size: 30px;
  }

  .HighlightedBackground {
    padding: 80px 20px;
  }

  .project-desciption {
    padding: 0;
    text-align: center;
  }
}

.aroundWeatherProject {
  padding: 20px;
}
